page-plan-date-edit {
    .scroll-content {
        padding: 10px;
    }
    .tour-edit {
        display: inline-block;
        width: calc(100%);
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
        border: 1px dashed #2cbcf3;
        background: #e1fafa;      
        padding: 10px;  
    }
    .tour-edit h3 {
        text-align: center;
        font-size: 1.2em;
        color: #3d3d3d;
        text-transform: uppercase;
    }
    .tour-edit .presentativeImage {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
    .tour-edit p { width: 50%; float: left; text-align: center; font-size: .9em; color: #9d1f2d; font-weight: bold; }
    .tour-edit p.fDate { width: 100%; }
    .plan-list-edit { margin-left: 2px; width: calc(100% - 4px); }
    .plan-item-edit { margin-bottom: 10px; border: 1px dashed #2cbcf3; border-radius: 5px; }
    .plan-item-edit .plan-date-edit {
        font-size: 1.2em;
        color: #fff;
    }
    .plan-title-edit { 
        position: relative; background: #3c6cf3; padding: 15px 8px 15px; border-top-left-radius: 5px; border-top-right-radius: 5px;
    }
    .plan-total-edit { text-align: right; color: #fff;}
    .plan-content-edit {
         margin-top: 1px;
         min-height: 25vw; 
         display: inline-block;
        .plan-img-edit { 
            width: 33.33%; 
            float: left; 
            img { width: 100%; height: 25vw; display: block; }
        }
    }
    .plan-content-edit.displayblock { display: block; }
    .plan-footer-edit { background: #3c6cf3; padding: 0 10px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; height: 40px; display: flex; align-items: center; justify-content: flex-end; margin-top: -3px; }
    .normal-link { background: transparent; color: #fff; }
    .normal-link ion-icon { font-size: 1.5em; }
    .f-r { float: right; }
    ion-header {
        position: relative;
        .header-toolbox-edit {
            position: absolute;
            bottom: 5px;
            right: 5px;
            button.btn-header-custom-edit {
                padding: 20px;
                margin: 0;
                background: #3474e1;
                text-transform: none;
                font-size: 1em;
                box-shadow: none;
                border-radius: 5px;
                ion-icon {
                    font-size: 1.8em;
                }
            }
        }
    }

    .add-date {
        background: #2cbcf3;
        color: #fff;
        height: 40px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        ion-icon {
            font-size: 2em;            
        }
    }

    .remove-day {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        border-radius: 50%;
        border: 1px solid #fff;
        background: #3494e1;
        color: #fff;
        top: 5px;
        right: 5px;
        font-size: 1em;
    }

    .btn-share {
        position: absolute;
        bottom: 15px;
        right: 15px;
        height: 70px;
        width: 70px;
        border-radius: 50%;
        color: #fff;
        border: none;
        background: rgba(50,50,50,.9);
        z-index: 999;
        display: flex;
        justify-content: center;
        align-items: center;
        ion-icon {
            display: block;
            width: 100%;
            text-align: center;
            font-size: 2.2em;
        }
        .share-text {
            display: block;
            width: 100%;
            font-size: .8em;
        }
    }
    .tab-top {
        width: calc(100% - 2px);
        margin-top: 10px;
        margin-right: 1px;
        margin-left: 1px;
        
        .tab-item-top {
            background: #dadada;
            color: #fff;
            width: calc(50% - 2px);
            margin-right: 1px;
            margin-left: 1px;
            float: left;
            padding: 15px 10px;
            text-align: center;
            margin-top: 1px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
        .tab-item-top-active {
            margin-top: 0;
            background: #fff;
            color: #2cbcf3;
            font-weight: bold;
            border-top: 1px solid #2cbcf3;
            border-left: 1px solid #2cbcf3;
            border-right: 1px solid #2cbcf3;
        }
    }
}