page-promotion-modal {
    .pro-list {
        padding: 10px;
    }
    .pro-item {
        display: inline-block;
        width: 100%;
        border-bottom: 1px solid #ddd;
        .pro-name {
            width: calc(100% - 130px);
            float: left;
        }
        .pro-value {
            position: relative;
            width: 120px;
            float: right;
            span {
                position: absolute;
                top: 15px;
                left: 12%;
                color: #fff;
                font-size: 0.9em;
            }
        }
    }
}