page-quick-booking {
    input[type="text"], input[type="email"], input[type="number"] {
        text-align: right;
    }
    ion-label {
        flex: initial;
        justify-content: flex-end;
        overflow: initial;
    }
    ion-select, ion-datetime {
        width: 100%;
        justify-content: flex-end;
        max-width: initial;
        text-align: right;
    }
    .scroll-content button {
        width: calc(100% - 20px);
        margin: 10px;
    }
}