/* vietnamese */
@font-face {
  font-family: 'Cabin Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Cabin Condensed'), local('CabinCondensed-Regular'), url(fontCarbin1x400.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Cabin Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Cabin Condensed'), local('CabinCondensed-Regular'), url(fontCarbin2x400.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Cabin Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Cabin Condensed'), local('CabinCondensed-Regular'), url(fontCarbin3x400.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* vietnamese */
@font-face {
  font-family: 'Cabin Condensed';
  font-style: normal;
  font-weight: 500;
  src: local('Cabin Condensed Medium'), local('CabinCondensed-Medium'), url(fontCarbin1x500.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Cabin Condensed';
  font-style: normal;
  font-weight: 500;
  src: local('Cabin Condensed Medium'), local('CabinCondensed-Medium'), url(fontCarbin2x500.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Cabin Condensed';
  font-style: normal;
  font-weight: 500;
  src: local('Cabin Condensed Medium'), local('CabinCondensed-Medium'), url(fontCarbin3x500.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* vietnamese */
@font-face {
  font-family: 'Cabin Condensed';
  font-style: normal;
  font-weight: 600;
  src: local('Cabin Condensed SemiBold'), local('CabinCondensed-SemiBold'), url(fontCarbin1x600.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Cabin Condensed';
  font-style: normal;
  font-weight: 600;
  src: local('Cabin Condensed SemiBold'), local('CabinCondensed-SemiBold'), url(fontCarbin2x600.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Cabin Condensed';
  font-style: normal;
  font-weight: 600;
  src: local('Cabin Condensed SemiBold'), local('CabinCondensed-SemiBold'), url(fontCarbin3x600.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* vietnamese */
@font-face {
  font-family: 'Cabin Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Cabin Condensed Bold'), local('CabinCondensed-Bold'), url(fontCarbin1x700.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Cabin Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Cabin Condensed Bold'), local('CabinCondensed-Bold'), url(fontCarbin2x700.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Cabin Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Cabin Condensed Bold'), local('CabinCondensed-Bold'), url(fontCarbin3x700.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
