page-location-lookup {
    .toolbar-title-ios {
        text-align: left;
    }
    .img-loaded + ion-spinner {
        display:none;
    }
    ion-list {
        margin: 0!important;
        ion-item {
            padding: 8px!important;
            font-size: inherit!important;
            .item-inner {
                padding: 0!important;
                border-bottom: 0!important;
            }
            ion-label {
                margin: 0!important;
                white-space: normal;
            }
        }
        ion-item:last-of-type {
            height: 0;
        }
    }
    #search-box-custom {
        margin: 10px 0 0 0;
        display: inline-block;
        width: 100%;
        padding: 0 10px;
        
        .search-location ion-input::before {
            content: "\f375";
            font-family: "Ionicons";
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 20px;
            float: left;
        }
        .search-location .text-input {
            width: calc(100% - 8px - 8px - 20px);
        }
        .search-location { padding-left: 0; width: 100%; float: left }
        .search-location .item-inner { border: 1px solid #dedede; border-radius: 5px; }
        .search-location.input-has-focus .item-inner { border: 1px solid #387ef5; box-shadow: inset 0 -1px 0 0 #387ef5; }
        button.btn-search-location.button-block {
            width: 45px;
            height: 47px;
            float: right;
            clear: initial;
            margin: 0;
            background: #387ef5;
            font-size: 1.3em;
        }
        button.btn-search-record.button-block {
            width: 45px;
            height: 47px;
            float: right;
            clear: initial;
            margin: 0;
            margin-left: 5px;
            background: #387ef5;
            font-size: 1.3em;
        }
    }
    .padding-5 {
        padding: 5px;
    }
    .text-input-box {
        position: relative;
        width: calc(100% - 50px);
        ion-icon {
            position: absolute;
            right: 10px;
            top: 16px;
        }
    }

    /*.location-info {
        color: #fff;
        text-align: center;
        position: relative;
        min-height: 150px;
        font-size: 1em;
        margin-bottom: 1px;
        .name {
            position: absolute;
            top: 0;
            width: 100%;
            background: rgba(0,0,0,.6);
            padding: 5px;
            text-align: left;
        }
        img {
            display: block;
            width: 100%; height: auto;
        }
        .view-more {
            position: absolute;
            bottom: 0px;
            width: 100%;
            background: rgba(0,0,0,.6);
            padding: 5px;
            button {
                color: #fff;
                text-align: right;
                width: 100%;
            }
        }
    }*/
    /*.list-loc {
        .item-block:first-child {
            border-top: 0!important;
        }
        .loc-item {
            border-bottom: 1px solid #c8c7cc;
            padding: 8px;
            width: 100vw;
            height: 100%;
            .loc-img {
                min-height: 80px;
                position: relative;
                background: #eee;
                border-radius: 3px;
                img {
                    border-radius: 3px;
                    display: block;
                }
                .center{
                    position: absolute;
                    top: calc(50% - 16px);
                    margin: 0 auto;
                    left: 0;
                    right: 0;
                }

                ion-img {
                    display: initial!important;
                    min-width: initial!important;
                    min-height: initial!important;
                    background: #eee!important;
                    contain: initial!important;
                }
            }
            .loc-info {
                position: absolute;
                top: 0;
                right: 0;
                padding: 8px;
                height: 100%;
                .name {
                    font-size: 1em;
                    color: #42C3F4;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                .address {
                    padding-top: 5px;
                }
                .address {
                    ion-icon {
                        color: #EF473A;
                        font-size: 0.8em;
                        padding-right: 2px;
                    }
                }
                .address {
                    .text-ad {
                        color: #6A6A6A;
                        font-size: 0.8em;
                    }
                }
                .action {
                    position: absolute;
                    bottom: 8px;
                    right: 10px;
                    left: 10px;
                    .heart {
                        float: right;
                        width: 18px;
                    }
                    .distance, .direction {
                        font-size: 0.8em;
                        padding: 2px 3px;
                        color: #fff;
                        background: #00E777;
                        border-radius: 2px;
                    }
                    .direction {
                        background: #0078D7;
                        margin-right: 10px;
                        float: right;
                    }
                }
            }
        }
    }*/

    .list-loc {
        .loc-item {
            position:  relative;
            padding: 0 5px 5px 5px;
            border-bottom : 1px solid #ddd;
            display: inline-block;
            width: 100%;
            .loc-img {
                width: 135px;
                height: 90px;
                float: left;
                // position: relative;
                border: 1px solid #dadada;
                padding: 1px;
                border-radius: 5px;
                img {
                    border-radius: 6px;
                    width: 100%;
                    height: 100%;
                    display: block;
                    padding: 1px;
                }
                .img-name {
                    display: none;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: calc(100% - 2px);
                    margin: 1px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    color: #fff;
                    background: rgba(0,173,239,0.8);
                    padding: 5px;
                    font-size: .75em;
                    text-align: center;
                    border-bottom-left-radius: 5px;
                    border-bottom-right-radius: 5px;
                }
            }
            .loc-info {
                width: calc(100% - 144px);
                float: right;
                .name {
                    width: 80%;
                    font-size: .8em;
                    color: #00adef;
                    font-weight: bold;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                .address {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    padding-top: 5px;
                    width: 95%;
                    .text-add {
                        display: inline-block;
                        color: #000;
                        font-size: 0.75em;
                        line-height: .8em;

                    }
                    ion-icon {
                        color: #b5b;
                        font-size: 1.1em;
                    }
                    
                }
                .action {
                    position: relative;
                    bottom: -20px;
                    // right: 0;
                    // width: calc(100% - 125px);
                    padding: 5px 0px 0 0px;
                    display: flex;
                    align-items: center;
                    font-size: .95em;
                    .relative-pos {
                        position: relative;
                    }
                    .heart {
                        float: right;
                        position: absolute;
                        right: 0;
                        width: 3em;
                    }
                    .distance {
                        font-size: 0.8em;
                        line-height: 1em;
                        color: #ce1616;
                        //background: #f9a624;
                        //background: #f7af53;
                        border-radius: 2px;
                        font-weight: bold;
                    }
                    .direction {
                        font-size: 0.8em;
                        padding: 3px 5px;
                        color: #393a3c;
                        background: #e7e8ea;
                        //margin-right: 7px;
                        position: absolute;
                        right: 30px;
                    }
                    .img{
                        width: 15px;
                        height: 15px;
                    }
                }
            }

            .marked-seen {
                position: absolute;
                top: 0;
                right: 0;
                display: none;
                .rms-container {
                    position: relative;
                    .rms {
                        width: 50px;
                    }
                    .rms-text {
                        position: absolute;
                        top: 0;
                        right: 2px;
                        width: 28px;
                        color: #fff;
                        text-align: right;
                        font-size: 11px;
                    }
                }
                &.active {
                    display: block;
                }
            }
        }
    }

    .loc-item:first-child {
        padding-top: 5px;
    }

    .text-auto-update {
       margin-left: 5px; margin-right: 5px;
       border-bottom: 1px solid #5d5d5d;
       color: #5d5d5d;
       width: calc(100% - 10px);
       padding: 10px;
       position: relative;
       .fright {
            position: absolute;
            right: 10px;
        }
    }
    .btn {
        width: calc(50% - 5px);
        text-align: center;
        float: left;
        padding: 10px;
        margin: 2.5px;
        color: #fff;
        border-radius: 4px;
        img {
            display: block;
            margin: 0 auto;
        }
        span {
            margin-top: 10px;
            display: block;
        }
    }
    .btn-red {
        background: #FF4653;
    }
    .btn-orange {
        background: #ff7950;
    }
    .btn-purple {
        background: #c351de;//#d31dff;
    }
    .btn-blue {
        background: #04B4AE;
    }
    .btn-green-lemon {
        background: #AEB404;
    }
    .btn-green {
        background: #57bd1d;
    }
    .btn-search-voice{
        background: #387ef5;
        width: calc(100% - 5px);
    }
    .choice-list {
        height: calc(100% - 60px);
    }
    .no-list-result {
        width: 100%;
        height: calc(100% - 90px);
        display: flex;
        justify-content: center;
        align-items: center;
        p {
            color: #7d7d7d;
        }
    }

    .header-toolbox-custom {
        position: absolute;
        bottom: 0;
        right: 10px;
        width: 35%;
        .type-top-choice {
            position: relative;
            float: right;
            width: 100%;
            height: 50px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            .title {
                padding: 5px;
                position: relative;
                padding-right: 10px;
                color: #fff;
                font-size: .85em;
                img {
                    width: 8px;
                    height: 8px;
                    position: absolute;
                    bottom: 7px;
                }
            }
            .type-top-list {
                width: 100%;
                color: #fff;
                position: absolute;
                top: 32px;
                right: 0;
                text-align: center;
                padding-top: 10px;
                .type-top-row {
                    padding: 10px;
                    border-bottom: 1px solid #ccc;
                    background: #387ef5;
                }
            }
        }
    }

    .list-location {
        margin-top: 10px;
    }
}
.platform-ios {
	page-location-lookup {
		.heart {
			padding: 0 1em 1em .5em;
		}
	}
}
.platform-android {
	page-location-lookup {
		.heart {
			padding: 1em 1em 1em .5em;
		}
	}
}
// @media screen and (max-width: 600px) and (min-width: 450px) {
//     page-location-lookup {
//         .list-loc {
//             .loc-item {
//                 padding: 0 5px 5px 5px;
//                 .loc-img {
//                     width: 120px;
//                     height: 80px;
//                 }
//                 .loc-info {
//                     width: calc(100% - 125px);
//                     font-size: 105%;
//                     .action {
//                         width: calc(100% - 125px);
//                     }
//                 }
//             }
//         }
//         .loc-item:first-child {
//             padding-top: 5px;
//         }
//     }
// }
// @media screen and (max-width: 800px) and (min-width: 600px) {
//     page-location-lookup {
//         .list-loc {
//             .loc-item {
//                 padding: 0 5px 5px 5px;
//                 .loc-img {
//                     width: 210px;
//                     height: 120px;
//                 }
//                 .loc-info {
//                     width: calc(100% - 220px);
//                     font-size: 110%;
//                     .action {
//                         width: calc(100% - 220px);
//                         padding: 10px 10px 0 10px;
//                         .heart {
//                             width: 20px;
//                         }
//                     }
//                 }
//             }
//         }
//         .loc-item:first-child {
//             padding-top: 5px;
//         }
//     }
// }
// @media (min-width: 800px) {
//     page-location-lookup {
//         .list-loc {
//             .loc-item {
//                 padding: 5px 10px 10px 10px;
//                 .loc-img {
//                     width: 300px;
//                     height: 200px;
//                 }
//                 .loc-info {
//                     width: calc(100% - 310px);
//                     font-size: 150%;
//                     .action {
//                         width: calc(100% - 310px);
//                         padding: 10px 10px 5px 10px;
//                         .heart {
//                             width: 24px;
//                         }
//                     }
//                 }
//             }
//         }
//         .loc-item:first-child {
//             padding-top: 10px;
//         }
//     }
// }
// @media (max-width: 449px) {
//     page-location-lookup {
//         .list-loc {
//             .loc-item {
//                 padding: 0 5px 5px 5px;
//                 .loc-img {
//                     width: 120px;
//                     height: 80px;
//                 }
//                 .loc-info {
//                     width: calc(100% - 125px);
//                     font-size: 100%;
//                     .action {
//                         width: calc(100% - 125px);
//                         padding: 5px 5px 0 5px;
//                         .heart {
//                             width: 18px;
//                         }
//                     }
//                 }
//             }
//         }
//         .loc-item:first-child {
//             padding-top: 5px;
//         }
//     }
// }
// @media (max-width: 320px) {
//     page-location-lookup {
//         .list-loc {
//             .loc-item {
//                 padding: 0 5px 5px 5px;
//                 .loc-img {
//                     width: 110px;
//                     height: 73px;
//                 }
//                 .loc-info {
//                     width: calc(100% - 125px);
//                     font-size: 100%;
//                     .action {
//                         width: calc(100% - 125px);
//                         padding: 5px 5px 0 5px;
//                         .heart {
//                             width: 18px;
//                             margin-right: 10px;
//                         }
//                         .direction{
//                             margin-right: 5px;
//                         }
//                     }
//                 }
//             }
//         }
//         .loc-item:first-child {
//             padding-top: 5px;
//         }
//     }
// }

@media (min-width: 1024px) {
    page-location-lookup {
        .header-toolbox-custom{
            .type-top-choice{
                .title{
                    font-size: 1.4em;
                }
            }
        }
        .list-filter{
            .title{
                font-size: 1.3em;
            &.location-arrow{
            background-position: 66% 62%;
            background-size: 4.5%;
            }
            &.service-arrow{
                background-position: 65% 62%;
                background-size: 4.5%; 
            }
            &.price-arrow{
                background-position: 59% 62%;
                background-size: 4.5%;
            }
            &.category-arrow{
                background-position: 60% 62%;
                background-size: 4.5%; 
            }
            }
            .content-list.list-mutiple {
                background: #fff;
                .content-row {
                    width: calc(33.33% - 1px);
                    float: left;
                    margin-right: 1px;
                    &:nth-child(3n+1) .choice, &:nth-child(3n+2) .choice {
                        border-right: 1px solid #ddd;
                    }
                }
            }
        }
        // .content-row {
        //         .choice {
        //             text-align: left;
        //             width: 100%;
        //             padding: 10px;
        //             background: #fff;
        //             min-height: 35px;
        //         }
        // }   
        .list-loc {
            .loc-item {
                padding: 5px 10px 10px 10px;
                .loc-img {
                    width: 330px;
                    height: 219px;
                    border: 1px solid #b3b3b3;
                    border-radius: 5px;
                    img{
                        padding: 2px;
                    }
                    .img-name{
                    width: calc(100% - 4px);
                    margin: 2px;
                    font-size: 1.6em;
                    }
                }
                .loc-info {
                    width: calc(100% - 360px);
                    font-size: 150%;
                    .action {
                        // width: calc(100% - 355px);
                        padding: 10px 0 5px 0;
                        bottom: -80px;
                        .heart {
                            width: 3.5em;
                            // margin-right: 15px;
                            //height: 100%;
                        }
                        .distance{
                            font-size: 0.95em;
                        }
                        .img{
                            height: 25px;
                            width: 25px;
                        }
                        .direction {
                            margin-right: 25px;
                            font-size: 1em;
                            padding: 7px 15px;
                            right: 50px;
                        }
                    }
                    .name{
                        font-size: .8em;
                    }
                    .address {
                    // overflow: hidden;
                    // text-overflow: ellipsis;
                    // white-space: nowrap;
                    padding-top: 5px;
                    font-size: 1.3em;
                    line-height: 1em;
                        .text-add {
                            color: #000;
                            font-size: 0.7em;
                            line-height: 1.3em;
                        }
                    }
                }
            }
        }
        .search-img-header{
            left: 100px;
        }
        .search-bar-button {
        width: 55%;
        left: 140px;
        position: absolute;
        // bottom: 0;
        // right: 100px;
        // height: 50px;
        // display: flex;
        // align-items: center;
        }   
        .loc-item:first-child {
            padding-top: 10px;
        }
    }
}
@media screen and (min-width: 960px) and (max-width: 1023px){
        page-location-lookup {
        .header-toolbox-custom{
            .type-top-choice{
                .title{
                    font-size: 1.3em;
                }
            }
        }
        .list-filter{
            .title{
                font-size: 1.2em;
            &.location-arrow{
            background-position: 66% 61%;
            background-size: 4.5%;
            }
            &.service-arrow{
                background-position: 66% 61%;
                background-size: 4.5%; 
            }
            &.price-arrow{
                background-position: 60% 61%;
                background-size: 4.5%;
            }
            &.category-arrow{
                background-position: 61% 61%;
                background-size: 4.5%; 
            }
            }
        } 
        .list-loc {
            .loc-item {
                padding: 0 5px 5px 5px;
                .loc-img {
                    width: 250px;
                    height: 166px;
                    border: 1px solid #b3b3b3;
                    border-radius: 5px;
                    img{
                        padding: 2px;
                    }
                    .img-name{
                    width: calc(100% - 4px);
                    margin: 2px;
                    font-size: 1.1em;
                    }
                }
                .loc-info {
                    width: calc(100% - 280px);
                    font-size: 110%;
                    padding-top: 8px;
                    .action {
                        // width: calc(100% - 275px);
                        padding: 10px 0 0 0;
                        // bottom: 25px;
                        
                        .direction {
                        margin-right: 25px;
                        font-size: 1.2em;
                        padding: 7px 15px;
                        right: 45px;
                        }
                        .distance{
                        font-size: 1.1em;
                        }
                    }
                    .name{
                        font-size: 1.3em;
                    }
                    .address{
                        padding-top: 10px;
                        line-height: 2.2em;
                        font-size: 1.1em;
                        .text-add {
                            color: #000;
                            font-size: 0.9em;
                            line-height: 1.2em;
                        }
                    }
                }
            }
        }
        .list-filter{
            .content-list.list-mutiple {
                background: #fff;
                .content-row {
                    width: calc(50% - 1px);
                    float: left;
                    margin-right: 1px;
                    &:nth-child(2n+1) .choice {
                        border-right: 1px solid #ddd;
                    }
                }
            }
        }
        // .content-row {
        //         .choice {
        //             text-align: left;
        //             width: 100%;
        //             padding: 10px;
        //             background: #fff;
        //             min-height: 35px;
        //         }
        // }       
        .search-img-header{
            left: 110px;
        }
        .search-bar-button {
        width: 50%;
        left: 140px;
        position: absolute;
        // bottom: 0;
        // right: 100px;
        // height: 50px;
        // display: flex;
        // align-items: center;
        }   
        .loc-item:first-child {
            padding-top: 5px;
        }
    }
}
@media screen and (max-width: 959px) and (min-width: 600px) {
    page-location-lookup {
        .header-toolbox-custom{
            .type-top-choice{
                .title{
                    font-size: 1.3em;
                }
            }
        }
        .list-filter{
            .title{
                font-size: 1.2em;
            &.location-arrow{
            background-position: 72% 61%;
            background-size: 5%;
            }
            &.service-arrow{
                background-position: 70% 61%;
                background-size: 5%; 
            }
            &.price-arrow{
                background-position: 62% 61%;
                background-size: 5%;
            }
            &.category-arrow{
                background-position: 63% 61%;
                background-size: 5%; 
            }
            }
        } 
        .list-loc {
            .loc-item {
                padding: 0 5px 5px 5px;
                .loc-img {
                    width: 230px;
                    height: 152px;
                    border: 1px solid #b3b3b3;
                    border-radius: 5px;
                    img{
                        padding: 2px;
                    }
                    .img-name{
                    width: calc(100% - 4px);
                    margin: 2px;
                    font-size: 1.1em;
                    }
                }
                .loc-info {
                    width: calc(100% - 260px);
                    font-size: 110%;
                    padding-top: 8px;
                    .action {
                        // width: calc(100% - 255px);  
                        padding: 10px 0 0 0;
                        // bottom: 18px;
                        .heart {
                            // width: 23px;
                            // margin-right: 15px;
                        }
                        .direction {
                        margin-right: 23px;
                        font-size: 1em;
                        right: 40px;
                        }
                        .distance{
                        font-size: 1em;
                        }
                    }
                    .name{
                        font-size: 1.3em;
                    }
                    .address{
                        padding-top: 10px;
                        line-height: 2.2em;
                        font-size: 1.1em;
                        .text-add {
                            color: #000;
                            font-size: 0.9em;
                            line-height: 1.2em;
                        }
                    }
                }
            }
        }
        .list-filter{
            .content-list.list-mutiple {
                background: #fff;
                .content-row {
                    width: calc(50% - 1px);
                    float: left;
                    margin-right: 1px;
                    
                    &:nth-child(2n+1) .choice {
                        border-right: 1px solid #ddd;
                    }
                }
            }
        }
        // .content-row {
        //         .choice {
        //             text-align: left;
        //             width: 100%;
        //             padding: 10px;
        //             background: #fff;
        //             min-height: 35px;
        //         }
        // }       
        .search-img-header{
            left: 110px;
        }
        .search-bar-button {
        width: 50%;
        left: 140px;
        position: absolute;
        // bottom: 0;
        // right: 100px;
        // height: 50px;
        // display: flex;
        // align-items: center;
        }   
        .loc-item:first-child {
            padding-top: 5px;
        }
    }
}

@media screen and (max-width: 599px) and (min-width: 450px) {
    page-location-lookup {
        .list-filter{
            .title{
            &.location-arrow{
            background-position: 75% 60%;
            background-size: 6.5%;
            }
            &.service-arrow{
                background-position: 73% 60%;
                background-size: 6.5%; 
            }
            &.price-arrow{
                background-position: 63% 60%;
                background-size: 6.5%;
            }
            &.category-arrow{
                background-position: 64% 60%;
                background-size: 6.5%; 
            }
            }
        }
        .list-loc {
            .loc-item {
                padding: 0 5px 5px 5px;
                .loc-img {
                    width: 180px;
                    height: 126px;
                    border: 1px solid #b3b3b3;
                    border-radius: 5px;
                    img{
                        padding: 1px;
                    }
                    .img-name{
                    width: calc(100% - 2px);
                    margin: 1px;
                        font-size: 0.9em;
                    }
                }
                .loc-info {
                    width: calc(100% - 200px);
                    font-size: 120%;
                    .action {
                        bottom: -40px;
                        // width: calc(100% - 200px);
                        .heart {
                            // width: 20px;
                            // margin-right: 10px;
                        }
                        .direction {
                            margin-right: 20px;
                            font-size: 0.75em;
                        }
                        .distance{
                            font-size: 0.75em;
                        }
                    }
                    .name{
                        font-size: 1em;
                    }
                }
            }
        }
        .loc-item:first-child {
            padding-top: 5px;
        }
        .search-img-header{
        left: 100px;
        }
        .search-bar-button {
            width: 40%;
            left: 130px;
            position: absolute;
        }
    }
}

@media (max-width: 449px) {
    page-location-lookup {
        .header-toolbox-custom{
            .type-top-choice{
                .title{
                    font-size: .9em;
                }
            }
        }
        // .list-filter{
        //     .title{
        //         font-size: .7em;
        //     }
        // } 
        .list-filter{
            .title{
               // font-size: 0.8em;
            &.location-arrow{
            background-position: 84% 60%;
            background-size: 8%;
            }
            &.service-arrow{
                background-position: 82% 60%;
                background-size: 8%; 
            }
            &.price-arrow{
                background-position: 68% 60%;
                background-size: 8%;
            }
            &.category-arrow{
                background-position: 70% 60%;
                background-size: 8%; 
            }
            }
        } 
        .list-loc {
            .loc-item {
                padding: 0 5px 5px 5px;
                .loc-img {
                    width: 120px;
                    height: 80px;
                    border: 1px solid #b3b3b3;
                    border-radius: 5px;
                    img{
                        padding: 1px;
                    }
                }
                .loc-info {
                    width: calc(100% - 130px);
                    font-size: 100%;
                    padding-top: 5px;
                    .action {
                        // width: calc(100% - 125px);
                        bottom: -10px;
                        padding: 5px 0 0 0;
                        .heart {
                            // width: 1.3em;
                            // margin-right: 10px;
                        }
                        .direction{
                            margin-right: 12px;
                            font-size: 0.7em;
                        }
                        .distance{
                            font-size: 0.7em;
                        }
                    }
                }
            }
        }
        .loc-item:first-child {
            padding-top: 5px;
        }
        .search-img-header{
        left: 74px;
        bottom: 13px;
        }
        .search-bar-button {
            width: 38%;
            left: 105px;
            position: absolute;
        }
    }
}

@media (max-width: 320px) {
    page-location-lookup {
        .header-toolbox-custom{
            width: 29%;
            .type-top-choice{
                .title{
                    font-size: 0.9em;
                }
            }
        }
        .list-filter{
            .title{
                font-size: 0.8em;
            &.location-arrow{
            background-position: 80% 60%;
            background-size: 9%;
            }
            &.service-arrow{
                background-position: 80% 60%;
                background-size: 9%; 
            }
            &.price-arrow{
                background-position: 67% 60%;
                background-size: 9%;
            }
            &.category-arrow{
                background-position: 70% 60%;
                background-size: 9%; 
            }
            }
        } 
        .list-loc {
            .loc-item {
                padding: 0 5px 5px 5px;
                .loc-img {
                    width: 120px;
                    height: 80px;
                    border: 1px solid #b3b3b3;
                    border-radius: 5px;
                    img{
                        padding: 1px;
                    }
                }
                .loc-info {
                    width: calc(100% - 130px);
                    font-size: 100%;
                    .action {
                        // width: calc(100% - 125px);
                        padding: 5px 0 0 0;
                        .heart {
                            // width: 1.3em;
                            // margin-right: 5px;
                        }
                        .direction{
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
        .loc-item:first-child {
            padding-top: 5px;
        }
        .search-img-header{
        left: 70px;
        }
        .search-bar-button {
            width: 37%;
            left: 100px;
            position: absolute;
        }
    }
}
