<!--
  Generated template for the LocationMapShow page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{'lctlk.title' | translate}}</ion-title>
  </ion-navbar>

  <div class="header-toolbox-custom">
    <div class="type-top-choice">
      <div class="title" (click)="showContentList($event,'type')">
        {{showTypeText(searchType)}}&nbsp;<img src="assets/images/icon-design/icon-28.png"/>
      </div>
      <div id="type" class="type-top-list" style="visibility: hidden; opacity: 0; transform: translateY(-2em); z-index: 1; transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;">
        <div class="type-top-row" (click)="updateType(2)">
          <div class="choice">{{'lctlk.eat' | translate}}</div>
        </div>
        <div class="type-top-row" (click)="updateType(1)">
          <div class="choice">{{'lctlk.stay' | translate}}</div>
        </div>
        <div class="type-top-row" (click)="updateType(3)">
          <div class="choice">{{'lctlk.see' | translate}}</div>
        </div>
        <div class="type-top-row" (click)="updateType(5)">
          <div class="choice">{{'lctlk.shopping' | translate}}</div>
        </div>
        <div *ngIf="useGT" class="type-top-row" (click)="updateType(8)">
          <div class="choice">{{'lctlk.entertainment' | translate}}</div>
        </div>
        <div class="type-top-row" (click)="updateType(7)">
          <div class="choice">{{'lctlk.event' | translate}}</div>
        </div>
        <div class="type-top-row" (click)="updateType(null)">
          <div class="choice">{{'lctlk.all' | translate}}</div>
        </div>
      </div>
    </div>
  </div>

</ion-header>


<ion-content class="padding-5">
  <div id="search-box-custom">
    <form (ngSubmit)="searchDestination()">
      <div class="text-input-box">
        <ion-item class="search-location">
          <ion-input type="text" [(ngModel)]="search" name="search" placeholder="&nbsp;{{'lctlk.search' | translate}}" (keyup)="updateListHint()"></ion-input>
        </ion-item>
        <ion-icon name="close-circle" (click)="clearText()"></ion-icon>
      </div>
      <!-- <button ion-button type="button" block class="btn-search-record"  (click)="listenForSpeech()">
        <ion-icon name="microphone"></ion-icon>
      </button> -->
      <button ion-button type="submit" block class="btn-search-location">
        <ion-icon name="search"></ion-icon>
      </button>
      
    </form>
  </div>

  <div class="clearfix"></div>
  <div class="text-auto-update" *ngFor="let item of listUpdate" (click)="changeMainText(item.LOCATION_NAME)">
    <ion-icon name="search"></ion-icon>&nbsp;{{item.LOCATION_NAME}}
    <span class="fright">
      <ion-icon name="arrow-forward"></ion-icon>
    </span>
    <div class="clearfix"></div>
  </div>

  <!--<div class="list-location" *ngIf="listlocation.length > 0">
    <div class="location-info" *ngFor="let location of listlocation" (click)="gotoDetail(location)">
      <div class="present-img">
        <img src="{{location?.imgURL | imageUrl}}" onerror="this.src='assets/iconImages/noimage.png'" />
        <div class="name">
          {{location?.name}}
        </div>
        <div class="view-more">
          <button class="normal-link"><ion-icon name="eye"></ion-icon>&nbsp;Xem chi tiết</button>
        </div>
        <div id="location-id" class="hidden">{{location.id}}</div>
      </div>
    </div>
  </div>-->

  <!--<div class="list-loc" *ngIf="listlocation.length > 0">
    <div class="loc-item item" *ngFor="let location of listlocation" (click)="gotoDetail(location)">
      <div class="loc-img">
        <img src="{{location?.imgURL | imageUrl}}" onerror="this.src='assets/iconImages/noimage.png'" />
      </div>
      <div class="loc-info">
        <div class="name">
          {{location?.name}}
        </div>
        <div class="address">
          
          <div class="text-add">{{'lctlk.address' | translate}}:</div>
          <span class="text-add">{{location?.address}}</span>
        </div>
        <div class="action">
          <img class="img" src="assets/images/icon-design/icon-30.png"/> 
          <span class="distance">
            {{location.distance | number:'1.' }}m
          </span>
          <img (click)="toggleSaveWishList($event,location)" [src]="location.book_id == 0?'assets/iconImages/heart1.png':'assets/iconImages/heart2.png'" class="heart" />
          <span class="direction" (click)="directionMap($event,location)">
             <ion-icon name="navigate"></ion-icon> 
            {{'lctlk.route' | translate}}
          </span>
        </div>
      </div>
    </div>
  </div>-->
  <div class="list-loc" *ngIf="listlocation.length > 0">
    <div class="loc-item item" *ngFor="let location of listlocation" (click)="gotoDetail(location)">
      <div class="loc-img">
        <img src="{{location?.imgURL}}" onerror="this.src='assets/iconImages/noimage.png'" />
        <!--<ion-spinner [ngClass]="{'center':true}" *ngIf="!loaded"></ion-spinner>-->
        <div class="img-name">
          {{location?.name}}
        </div>
      </div>
      
      <div class="loc-info">
        <div class="name">
          {{location?.name}}
        </div>
        <div class="address">
          <!--{{'lctlk.address' | translate}}:-->
          <span class="text-add"><ion-icon name="pin"></ion-icon> {{location?.address}}</span>
        </div>
        <div class="action">
            <img class="img" src="assets/images/icon-design/icon-30.png"/>
            <div class="distance">
              {{location.distance | number:'1.' }}m
            </div>
            <div class="direction" (click)="directionMap($event,location)">
              <ion-icon name="navigate"></ion-icon>
              {{'lctlk.route' | translate}}
            </div>
            <img (click)="toggleSaveWishList($event,location)" [src]="location.book_id == 0?'assets/iconImages/heart1.png':'assets/iconImages/heart2.png'" class="heart" />
        </div>
      </div>
    </div>
  </div>

  <ion-infinite-scroll *ngIf="total == 10 && listlocation.length > 0" (ionInfinite)="pagedFunction($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <!--<ion-list class="list-loc" [virtualScroll]="listlocation" approxItemHeight="80px">
    <div *virtualItem="let location; let index = index">
      <ion-item *ngIf="index==0" [hidden]="!0">
      </ion-item>
      <ion-item *ngIf="index>0" class="loc-item" (click)="gotoDetail(location)">
        <div class="loc-img">
          <ion-img (cache)="true" src="{{location?.imgURL}}"></ion-img>
        </div>
        <div class="loc-info">
          <div class="name">
            {{location?.name}}
          </div>
          <div class="address">
            <ion-icon name="pin"></ion-icon>
            <span class="text-ad">{{location?.address}}</span>
          </div>
          <div class="action">
            <span class="distance">
              {{location.distance | number:'1.' }}m
            </span>
            <img (click)="toggleSaveWishList($event,location)" [src]="location.book_id == 0?'assets/iconImages/heart1.png':'assets/iconImages/heart2.png'" class="heart" />
            <span class="direction" (click)="directionMap($event,location.googlemap)">
              <ion-icon name="navigate"></ion-icon>
              Chỉ đường
            </span>
          </div>
        </div>
      </ion-item>
    </div>
    
  </ion-list>-->

  <div class="choice-list" *ngIf="listlocation.length == 0">
    <div class="btn btn-red" (click)="changeType(2)">
      <img src="assets/iconImages/restaurant.png" />
      <span>{{'lctlk.eat' | translate}}</span>
    </div>
    <div class="btn btn-orange" (click)="changeType(1)">
      <img src="assets/iconImages/home.png" />
      <span>{{'lctlk.stay' | translate}}</span>
    </div>
    <div class="btn btn-purple" (click)="changeType(3)">
      <img src="assets/iconImages/play.png" />
      <span>{{'lctlk.see' | translate}}</span>
    </div>
    <div *ngIf="useGT" class="btn btn-green-lemon" (click)="changeType(5)">
      <img src="assets/iconImages/shopping.png" />
      <span>{{'lctlk.shopping' | translate}}</span>
    </div>
    <div *ngIf="useGT" class="btn btn-blue" (click)="changeType(8)">
      <img src="assets/iconImages/entertainment.png" />
      <span>{{'lctlk.entertainment' | translate}}</span>
    </div>
    <div class="btn btn-green" (click)="changeType(null)">
      <img src="assets/iconImages/full.png" />
      <span>{{'lctlk.all' | translate}}</span>
    </div>
    <div class="btn btn-search-voice" (click)="listenForSpeech()">
      <img src="assets/images/icon-design/icon-48.png" />
      <span>{{'lctlk.searchvoice' | translate}}</span>
    </div>
    <!-- <div class="no-list-result">
      <p><ion-icon name="search"></ion-icon>&nbsp;Không tìm thấy kết quả phù hợp</p>
    </div> -->
  </div>
</ion-content>

<!-- <ion-fab center bottom>
    <button ion-fab color="secondary" (click)="listenForSpeech()">
        <ion-icon name="microphone"></ion-icon>
    </button>
</ion-fab> -->