<!--
  Generated template for the MapRoute page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'userbooking.title' | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="booking" *ngFor="let item of listBooking" (click)="gotoDetailBooking(item)">
    <div class="name">
      {{item.NAME}}
    </div>
    <div *ngIf="item.NAME != null">
      <div class="location">
        <span *ngIf="item.PLACE_CODE=='HOTEL'">{{item.PLACE_NAME}}</span> 
        <span *ngIf="item.PLACE_CODE=='RESTAURANT'">{{item.PLACE_NAME}}</span>
      </div>
      <div class="time">
        <span *ngIf="item.PLACE_CODE=='HOTEL'">{{'userbooking.fromdate' | translate}} {{item.FROM_DATE | dateFormat:  "DD/MM/YYYY" }} {{'userbooking.todate' | translate}} {{item.TO_DATE | dateFormat:  "DD/MM/YYYY"}}</span> 
        <span *ngIf="item.PLACE_CODE=='RESTAURANT'">{{'userbooking.dayu' | translate}} {{item.FROM_DATE | dateFormat:  "DD/MM/YYYY"}} {{'userbooking.at' | translate}} {{item.FROM_DATE | dateFormat:  "HH:mm" }}</span>
      </div>
    </div>
  
  </div>
</ion-content>
