<!--
  Generated template for the PlanAddLocation page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{'pal.title' | translate}}</ion-title>
  </ion-navbar>
  <div id="alert-popup" (click)="closePopup()" style="display:none;">
    <div id="popupDateTime">
      <span class="chosen-place-name" *ngIf="itemAdd != null">{{itemAdd.LOCATION_NAME}}</span>
      <div class="date-choose">
        <ion-icon name="calendar"></ion-icon>
      </div>
      <ion-datetime displayFormat="HH:mm" [(ngModel)]="itemAdd.LOCATION_START_TIME" (ionChange)="addToPlanList(itemAdd)" *ngIf="itemAdd != null"></ion-datetime>
    </div>
  </div>
</ion-header>


<ion-content>
  <div class="tab-menu-list">
    <div class="tab-menu-list-item" (click)="changeTabGetList('tk')" [ngClass]="savedList == 'tk' ? 'active' : ''">
      {{'pal.search' | translate}}
    </div>
    <div class="tab-menu-list-item" (click)="changeTabGetList('gy')" [ngClass]="savedList == 'gy' ? 'active' :  ''">
      {{'pal.mustsee' | translate}}
    </div>
    <div class="tab-menu-list-item" (click)="changeTabGetList('yt')" [ngClass]="savedList == 'yt' ? 'active' :  ''">
      {{'pal.mysaved' | translate}}
    </div>
    <div class="clearfix"></div>
  </div>
  <div id="searchListToAdd" *ngIf="savedList == 'tk'">
    <div class="text-area">
      <div class="text-input-box">
        <ion-searchbar [(ngModel)]="search" placeholder="{{'pal.search' | translate}} ..." (ionClear)="clearText()" (ionInput)="updateListHint()"></ion-searchbar>
        <!-- <ion-input type="text" [(ngModel)]="search" placeholder="{{'pal.search' | translate}} ..." (keyup)="updateListHint()"></ion-input>
        <ion-icon name="circle" (click)="clearText()"></ion-icon> -->
      </div>

      <button ion-button (click)="submit()" class="btn-search"><ion-icon name="search"></ion-icon></button>
    </div>
    <div class="scroll-tab-bar">
      <div class="tab-type">
        <!-- <div class="tab-type-item" [ngClass]="type == null ? 'active':''" (click)="changeType(null)">{{'pal.all' | translate}}</div> -->
        <div class="tab-type-item" [ngClass]="type == 'SHOP' ? 'active':''" (click)="changeType('SHOP')">{{'pal.shop' | translate}}</div>
        <div class="tab-type-item" [ngClass]="type == 'RESTAURANT' ? 'active':''" (click)="changeType('RESTAURANT')">{{'pal.eat' | translate}}</div>
        <div class="tab-type-item" [ngClass]="type == 'TPLACE' ? 'active':''" (click)="changeType('TPLACE')">{{'pal.see' | translate}}</div>
        <div *ngIf="useGT" class="tab-type-item" [ngClass]="type == 'ENTERTAINMENT' ? 'active':''" (click)="changeType('ENTERTAINMENT')">{{'lctlk.entertainment' | translate}}</div>
      </div>
    </div>
    <!-- <div class="list-area">
      <ion-item>
        <ion-label>{{'pal.area'|translate}}</ion-label>
        <ion-select [(ngModel)]="chosenArea" (ionChange)="updateListHint()">
          <ion-option value="-1">{{'map.any'|translate}}</ion-option>
          <ion-option value="{{item.id}}" *ngFor="let item of listArea">{{item.name}}</ion-option>
        </ion-select>
      </ion-item>
    </div> -->
    <div class="clearfix"></div>
    <div class="text-auto-update-area">
      <div class="text-auto-update" *ngFor="let item of listUpdate" (click)="changeMainText(item.LOCATION_NAME)">
        <ion-icon name="search"></ion-icon>&nbsp;{{item.LOCATION_NAME}}
        <span class="fright">
          <ion-icon name="arrow-forward"></ion-icon>
        </span>
        <div class="clearfix"></div>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="listLocation">
      <div class="list-item" *ngFor="let item of listResult">
        <div class="item-image">
          <img src="{{item.LOCATION_AVATAR | imageUrl}}" onerror="this.src='assets/iconImages/noimage.png'" alt="{{'plan.repimg' | translate}}" />
        </div>
        <div class="item-info">
          <h2 class="item-name">{{item.LOCATION_NAME}}</h2>
          <p class="item-address blue">{{item.LOCATION_ADDRESS}}</p>
          <p class="item-address red">{{item.LOCATION_OPEN_TIME | dateFormat:  "HH:mm"}} - {{item.LOCATION_CLOSE_TIME | dateFormat:  "HH:mm"}}</p>
          <div class="item-action">
            <button class="btn-view" (click)="viewDetail(item)"><ion-icon name="eye"></ion-icon>&nbsp;{{'pal.seemore' | translate}}</button>
            <button class="btn-add" (click)="popupDateOn(item)"><ion-icon name="add"></ion-icon></button>
          </div>
        </div>
        
        <div class="clearfix"></div>
      </div>
    </div>
    
  </div>
  <div id="savedListToAdd" *ngIf="savedList == 'yt'">
    <div class="list-item" *ngFor="let item of listWishList">
      <div class="item-image">
        <img src="{{item.LOCATION_AVATAR | imageUrl}}" onerror="this.src='assets/iconImages/noimage.png'" alt="{{'pal.repimg' | translate}}" />
      </div>
      <div class="item-info">
        <h2 class="item-name">{{item.LOCATION_NAME}}</h2>
        <p class="item-address blue">{{item.LOCATION_ADDRESS}}</p>
        <p class="item-address red">{{item.LOCATION_OPEN_TIME | dateFormat:  "HH:mm"}} - {{item.LOCATION_CLOSE_TIME | dateFormat:  "HH:mm"}}</p>
        <div class="item-action">
          <button class="btn-view" (click)="viewDetail(item)"><ion-icon name="eye"></ion-icon>&nbsp;{{'pal.seemore' | translate}}</button>
          <button class="btn-add" (click)="popupDateOn(item)"><ion-icon name="add"></ion-icon></button>
        </div>
      </div>
      
      <div class="clearfix"></div>
    </div>
  </div>

  <div id="mustSeeListToAdd" *ngIf="savedList == 'gy'">
    <div class="list-item" *ngFor="let item of listMustSee">
      <div class="item-image">
        <img src="{{item.LOCATION_AVATAR | imageUrl}}" onerror="this.src='assets/iconImages/noimage.png'" alt="{{'pal.repimg' | translate}}" />
      </div>
      <div class="item-info">
        <h2 class="item-name">{{item.LOCATION_NAME}}</h2>
        <p class="item-address blue">{{item.LOCATION_ADDRESS}}</p>
        <p class="item-address red">{{item.LOCATION_OPEN_TIME | dateFormat:  "HH:mm"}} - {{item.LOCATION_CLOSE_TIME | dateFormat:  "HH:mm"}}</p>
        <div class="item-action">
          <button class="btn-view" (click)="viewDetail(item)"><ion-icon name="eye"></ion-icon>&nbsp;{{'pal.seemore' | translate}}</button>
          <button class="btn-add" (click)="popupDateOn(item)"><ion-icon name="add"></ion-icon></button>
        </div>
      </div>
      
      <div class="clearfix"></div>
    </div>
  </div>
  
  
</ion-content>
