page-advice-list {
    .scroll-content {
        background: #f5f7f2;
        .item-list {
            background: #fff;
            font-weight: bold;
            border: #e5e7e2 1px solid;
            box-shadow: 3px 3px #dadada;
            border-radius: 10px;
            display: inline-block;
            width: calc(100%);
            margin-bottom: 8px;
            .advice-title {
                height: 15vw;
                width: calc(100% - 20vw - 30px);
                float: left;
                display: flex;
                align-items: center;
                font-weight: bold;
                margin-left: 10px;
            }
            img {
                width: 20vw;
                height: 15vw;
                background: #eeeeee;
                float: left;
                margin-right: 10px;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }
            // &:nth-of-type(2n) {
            //     img {
            //         float: right;
            //         margin-left: 10px;
            //         border-top-right-radius: 10px;
            //         border-bottom-right-radius: 10px;
            //     }
            // }
            // &:nth-of-type(2n+1) {
            //     img {
            //         float: left;
            //         margin-right: 10px;
            //         border-top-left-radius: 10px;
            //         border-bottom-left-radius: 10px;
            //     }
            // }
        }

        .tab-top {
            width: 100%;
            border-radius: 10px;
            padding: 5px;
            border: 1px solid #e5e7e2;
            box-shadow: 4px 4px #dadada;
            display: inline-block;
            background: #fff;
            margin-bottom: 5px;
            .tab-top-item {
                width: 33.33%;
                float: left;
                display: flex;
                text-overflow: ellipsis;
                overflow: hidden;
                text-align: center;
                font-weight: bold;
                height: 40px;
                font-size: .9em;
                justify-content: center;
                align-items: center;
                &:not(:last-of-type) {
                    border-right: 2px solid #ababab;
                }
                &.active {
                    color: #f00;
                }
            }
        }
    }
}
