<!--
  Generated template for the LocationMapShow page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

  <ion-navbar>
    <ion-title>{{'pl.title' | translate}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <div class="tab-top" *ngIf="isSuggest == true">
    <div class="tab-item-top" (click)="changeToEditTour()">
      {{'pl.recommendedplan' | translate}}
    </div>
    <div class="tab-item-top tab-item-top-active" (click)="changeToListTour()">
      {{'pl.sharedplan' | translate}}
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="plan-list">
    <div class="plan-item" *ngFor="let item of listPlan" (click)="gotoDetail(item)">
      <div class="image-left">
        <img *ngFor="let item1 of getListAlbum(item)" src="{{item1}}" onerror="this.src='assets/iconImages/noimage.png'" />
      </div>
      <div class="info">
        <div class="plan-name">{{item.Name}}</div>
        <div class="plan-description">{{'pl.description' | translate}}</div>
        <div class="plan-time"><ion-icon name="partly-sunny"></ion-icon> {{item.TotalNumberDay}} {{'pl.dayl' | translate}}</div>
        <!--<div class="plan-budget"><ion-icon name="cash"></ion-icon>&nbsp;{{item.T_TOTAL}} VND</div>-->
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  
</ion-content>
