page-shop-detail {
    .btn-header {
        position: absolute;
        top: 0;
        right: 0;
        background: rgba(0,0,0,.6);
        padding: 5px 10px;
        z-index: 10;
    }
    .toolbox {
        width: 100%;
        background: #2cbcf3;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding-top: 5px;
        text-align: right;
        .button-list {
            display: inline-block;
            .btn { 
                display: inline-block;
                padding: 0 5px 5px 5px;
                text-align: center;
                width: 60px;
                text-decoration: none;
                .image {
                    border-radius: 50%;
                    width: 56px;
                    height: 56px;
                    font-size: 25px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #dadada;
                    background: #0e3f5c;
                    margin-bottom: 2px;
                }
                .text {
                    color: #5c0e0e;
                    font-weight: bold;
                    font-size: 8px;
                    width: 56px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }
        }
        
        
    }
    .product-item {
        width: calc(50% - 4px);
        padding: 3px;
        border: 1px solid #ddd;
        margin: 1px;
        float: left;
        border-radius: 5px;
        position: relative;
        min-height: 100px;
        img {
            border-radius: 5px;
            display: block;
        }
        .product-name {
            width: calc(100% - 6px);
            position: absolute;
            bottom: 3px;
            background: rgba(0,0,0,.4);
            color: #fff;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            padding: 5px;
            font-weight: bold;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
    .arrow-down {
        width: 100%;
        height: 25px; 
        
        &.arrow-blue {
            border-left: 50vw solid transparent;
            border-right: 50vw solid transparent;
            border-top: 4.5vw solid #2cbcf3; 
        }
        &.arrow-white {
            border-left: 50vw solid #f5f7f2;
            border-right: 50vw solid #f5f7f2;
            border-top: 4.5vw solid #fff;
        }
        &.arrow-gray {
            border-left: 50vw solid #fff;
            border-right: 50vw solid #fff;
            border-top: 4.5vw solid #f5f7f2;
        }

    }
    .ultilityBox {
        position: absolute;
        top: 40px; right: 5px;
        z-index: 9;
        button {
           background: rgba(0, 0, 0, 0.6);
           font-size: .8em;
           img {
               width: 28px;
               height: 28px;
           }
        }
    }
    .image-present { 
        height: auto; position: relative; min-height: 180px; 
        background-image: url('../assets/iconImages/noimage.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        img {
            display: block;
            width: 100%;
        }
        h2 { 
            font-size: 1.2em; 
            margin: 0; 
            position: absolute; 
            bottom: 0; 
            width: 100%; 
            color: #fff6e5; 
            background-color: rgba(0,0,0,0.4); 
            line-height: 2em;
            width: 100%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            z-index: 10;
        }
        img.sight {width: 100%; height: auto; display: block;}
        .love {
            position: absolute;
            bottom: 40px;
            left: 18px;
            padding: 10px 10px 5px 10px;
            background: #fff;
            border-radius: 4px;
            z-index: 10;
            img {
                width: 20px;
            }
            .count-love {
                position: relative;
                top: -4px;
            }
        }
    }
    .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
        bottom: 40px;
    }
    .swiper-pagination-bullet {
        opacity: 1;
        background: #72f;
        width: 15px;
        height: 15px;
    }
    .swiper-pagination {
        text-align: right;
    }
    .swiper-pagination-bullet-active {
        background: #2f7;
    }
    h3 { color: #e07d13; text-transform: uppercase; text-align: center; font-size: 1.1em; }
    h4 {
        font-size: 1em;
        color: #3d566e;
        text-transform: uppercase;
        font-weight: bold;
        width: 100%; 
        margin-top: .9em;
    }
    .line-through { width: 100%; border-top: 1px solid #ccc; margin-top: 10px; }
    .about-us {
        padding: 5px;
        h3 { margin-top: 0;}
        .about-us-content {text-align: justify;}
        .label { font-weight: bold; }
    }
}
@media screen and (min-width: 500px){
    page-shop-detail {
        .arrow-down {
            width: 100%;
            height: 40px; 
        }
        .product-item {
            width: calc(33.33% - 4px);
            padding: 3px;
            border: 1px solid #ddd;
            margin: 1px;
            float: left;
            border-radius: 5px;
            img {
                border-radius: 5px;
                display: block;
            }
        }
    }
}
@media screen and (min-width: 768px){
    page-shop-detail {
        .product-item {
            width: calc(25% - 4px);
            padding: 3px;
            border: 1px solid #ddd;
            margin: 1px;
            float: left;
            border-radius: 5px;
            img {
                border-radius: 5px;
                display: block;
            }
        }
    }
}