page-user-note {
    .note-content {
        width: 100%;
        height: calc(100% - 5px);
        border-radius: 8px;
        padding: 15px;
    }
    .top-btn {
        background: transparent;
        width: 18px;
        height: 18px;
        float: right;
        margin-left: 15px;
        &.close {
            padding: 2px;
        }
    }
    ion-navbar {
        width: 40%;
    }
    .title-top {
        display: block;
        width: 70%;
        font-size: 1.2em;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        color: #fff;
    }
    
}
